<div >
<h1>Tela de login</h1>
<main>
  <div class="formularioProdutos">
  <form  (submit)="addUser()">
    <input
      placeholder="Nome:"
      [(ngModel)]="nome"
      name="nome"
    />
    <input
      placeholder="Senha"
      [(ngModel)]="senha"
      name="senha"
      type="password"
    />
    <label>
      <select [(ngModel)]="role" name="newUserRole">
        <option value="">Selecione a Role</option>
        <option value="admin">Administrador</option>
        <option value="fisSelf">FisSelf</option>

      </select>
    </label>
    <button>Cadastrar</button>
  </form>
</div>
  <div class="containerUser">
    <div>            
      <li *ngFor="let user of users " class="user-item">
        <span>
        <input [(ngModel)]="user.name" /> 
    </span>

    <button  class="btnTabela" *ngIf="userRepo.metadata.apiUpdateAllowed"(click)="saveUser(user)"; reloadPage()>Salvar</button>
    <button  class="btnTabela" *ngIf="userRepo.metadata.apiDeleteAllowed"(click)="deleteUser(user)">Deletar</button>
  </li>
  </div>
</div>
</main>
</div>

