.container {
    margin: 0 auto;
    padding: 5px;
  }


  .form-inline .form-group {
    display: inline-block;
    margin-right: 10px;
  }

  .table-container {
    overflow-x: auto;
    height: 50vh;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    font-size: 0.9rem;

  }


  .table th,
  .table td {
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000000;

  }

  .table tr {

    font-size: 17px;
    font-style: bold;


  }

  table tr:hover {
    background-color: #dddddda6; /* a cor de fundo desejada */
  }

  .table th {
    font-weight: bold;
    background-color: #191a1b;
    color: #fff;
  }

  .table td:last-child {
    text-align: center;
  }

  .custom-backdrop {
    z-index: 0; /* Valor inferior ao z-index do modal */
  }
