
<h1>Cadastro de Produtos</h1>
<div class="formularioProdutos">
  <form *ngIf="produtosRepo.metadata.apiInsertAllowed" (submit)="addProdutos()">

     <input
      placeholder="codigo de Barras"
      [(ngModel)]="codigoBarras"
      name="codigoBarras"
    />

    <input
      placeholder="nome do Produto"
      [(ngModel)]="nomeProduto"
      name="nomeProduto"
    />

    <input
      placeholder="valor do Produto"
      [(ngModel)]="valorProduto"
      name="valorProduto"
    />
    <input
      placeholder="quantidade do Produto"
      [(ngModel)]="quantidadeProduto"
      name="quantidadeProduto"
    />
      <select [(ngModel)]="tipoProduto" name="newUserRole">
        <option value="">Selecione uma opção</option>
        <option value="Bebida">Bebida</option>
        <option value="Alimento">Alimento</option>

      </select>
    <button>Incluir</button>

  </form>
</div>

<div>
  <main>

  <div class="containerProduto">
    <ul class="produtos-list">
  <li *ngFor="let produtos of produtoss" class="produtos-item">
    <div class="produtos-column">
      <label for="{{produtos.codigoBarras}}">Código de barras:</label>
      <input  id="{{produtos.codigoBarras}}" [(ngModel)]="produtos.codigoBarras" />

      <label for="{{produtos.nomeProduto}}">Nome:</label>
      <input  id="{{produtos.nomeProduto}}" [(ngModel)]="produtos.nomeProduto" />

      <label for="{{produtos.valorProduto}}">Valor:</label>
      <input id="{{produtos.valorProduto}}" [(ngModel)]="produtos.valorProduto" />


      <label for="{{produtos.quantidadeProduto}}">Quantidade:</label>
      <input id="{{produtos.quantidadeProduto}}" [(ngModel)]="produtos.quantidadeProduto" />

      <label for="{{produtos.tipoProduto}}">Tipo do produto:</label>
      <input id="{{produtos.tipoProduto}}" [(ngModel)]="produtos.tipoProduto" />
</div>
<div>
      <button (click)="gerarPDF(produtos.codigoBarras)">Imprimir Código de barras</button>
      </div>
      <div>
      <button *ngIf="produtosRepo.metadata.apiUpdateAllowed" (click)="saveProdutos(produtos)">Salvar</button>
      </div>
      <div>
        <button *ngIf="produtosRepo.metadata.apiDeleteAllowed" (click)="deleteProdutos(produtos)">Deletar</button>
      </div>
  </li>
</ul>
</div>


</main>
</div>
