<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<ng-container *ngIf="!remult.authenticated()">
    <form class="login-form" (submit)="signIn()">
      <h1 class = login-title>Chopperia Pullini</h1>
      <input
      [(ngModel)]="signInUsername"
      placeholder="Usuario"
      name="username"
    />
       <input
        [(ngModel)]="signInSenha"
        placeholder="Senha"
        name="username"
        type="password"
      />
      <button>Sign in</button>
    </form>
</ng-container>
<ng-container *ngIf="remult.authenticated()" >
  <header>
    <span>{{ remult.user?.name }}</span>
    <button class="btn-logout"(click)="signOut()">Sign Out</button>
  </header>
  <div class="container">
<router-outlet></router-outlet>
</div>
</ng-container>



