<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<ng-container *ngIf="!remult.authenticated()">
  <div class="login-container">
    <form class="login-form" (submit)="signIn()">
      <img src="http://127.0.0.1:8080/imagens/Chopperia.png" alt="Chopperia Igão" class="login-image">
      <input
      [(ngModel)]="signInUsername"
      placeholder="Usuario"
      name="username"
    />
       <input
        [(ngModel)]="signInSenha"
        placeholder="Senha"
        name="username"
        type="password"
      />
      <button>Sign in</button>
    </form>
  </div>
</ng-container>
<ng-container *ngIf="remult.authenticated()" >

    <ngbd-collapse-navbar></ngbd-collapse-navbar>


  <div class="container">
<router-outlet></router-outlet>
</div>

</ng-container>



