form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: 10%;
    border-style: double white;
    margin-left: 40%;
    margin-right: 40%;
    background-color: #8180ca;
    border-radius: 10px;
}

form h1{
  font-size: 2rem;
  margin-bottom: 4rem;
  font-style: oblique;
}
    form input {
      width: 80%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    form button {
      width: 65%;
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      background-color: #009b15;
      color: #fff;
      cursor: pointer;
    }
  
  
  
  /* Estilo do formulário */
  input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
  }
  
  /* Botão de enviar */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 10, 43);
    color: #fff;
    border-bottom: 1px solid #9eafd4;
    padding: 15px;
  }
  
  header span {
    margin-right: auto;
  }
  
  .container {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .btn-logout {
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-logout:hover {
    background-color: #cc0000;
  }
  
  .router-outlet {
    padding: 10px;
  }
  
  @media only screen and (max-width: 768px) {
    .header {
      padding: 5px;
    }
  }
  

  .login-title {
    font-size: 2rem;
    text-align: center;
  }