<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<main class="container">
  <h1>CAIXA</h1>
  <form *ngIf="cartaoRepo.metadata.apiInsertAllowed" (submit)="addCartao()">

     <input
      placeholder="Numero do Cartão"
      [(ngModel)]="numero_cartao"
      name="numero_cartão"
    />
    <button>Adicionar</button>

  </form>
  <div class="recebimento-caixa">
  <div class="table-container">
    <table class="table">
      <thead>
          <th>Cartão Vinculado</th>
          <th>Valor no cartão</th>
      </thead>
      <tbody>
        <tr *ngFor="let cartao of cartoes">
          <td>{{ cartao.cartao_vinculado }}</td>
          <td>{{ cartao.conta }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="valores">
      <div class="campo">
         <label><strong>Total:</strong></label>
         <strong>{{ total.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' }) }}</strong>
        </div>
        <div class="campo">
        <label><strong>Valor Pago:</strong></label>
        <input placeholder="Valor Pago" [(ngModel)]="valorPago" name="valor_pago">
      </div>
      <div class="campo">
        <label><strong>Troco</strong></label>
        <input placeholder="Troco" [value]="troco.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })" />
      </div>
     <div>
            <button class="btn btn-success" (click)="pagar()">Pagar</button>
            <button class="btn btn-danger" (click)="cancelar()">Cancelar</button>
    </div>
      
  </div>
</div>
</main>
