<DIv style="display: grid; ">
<button style="margin: 30px;" (click)="gerarRelatorio()">Gerar Relatório estoque</button>
<button style="margin: 30px;" (click)="gerarRelatorioFalta()">Gerar Relatório de produtos com baixo estoque</button>
<button style="margin: 30px;" (click)="gerarRelatorioChopp()">Gerar Relatório de produtos com baixo estoque</button>
<button style="margin: 30px;" (click)="gerarRelatorio()">Gerar Relatório estoque</button>
<button style="margin: 30px;" (click)="gerarRelatorioFalta()">Gerar Relatório de produtos com baixo estoque</button>
<button style="margin: 30px;" (click)="gerarRelatorioChopp()">Gerar Relatório de produtos com baixo estoque</button>


</DIv>
