<div class="body">

<header class="content-header">
  <h1>{{title}}</h1>
</header>
<nav>
  <div class="logo">
    <a routerLink="home"><img src="logo.png" alt="Logo"></a>
  </div>
  <div class="menu">
    <a routerLink="home">Início</a>
    <a routerLink="products">Produtos</a>
    <a routerLink="cadusuario">Cadastro de Usuário</a>
    <a routerLink="todo">Lista de Tarefas</a>
    <a routerLink="retiprod">Retirar Produtos</a>
    <a routerLink="addprod">Adicionar Produtos</a>
    <a routerLink="cadclient">Cadastrar Clientes</a>
    <a routerLink="saidachop">Saida Chopp</a>
    <a routerLink="entrachop">Entrada Chopp</a>
  </div>
  <div class="current-page">
    <i class="fa fa-home"></i>
  </div>
</nav>
<div class="formulario">
  <app-auth></app-auth>
</div>
</div>
