
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="body">
    <div class="sidebar">
      <nav>
        <ul>
        <li routerLink="home">Início</li>
        <li routerLink="products">Produtos</li>
        <li routerLink="cadusuario">Cadastro de Usuário</li>
        <li routerLink="todo">Lista de Tarefas</li>
        <li routerLink="retiprod">Retirar Produtos</li>
        <li routerLink="addprod">Adicionar Produtos</li>
        <li routerLink="cadclient">Cadastrar Clientes</li>
        <li routerLink="saidachop">Saida Chopp</li>
        <li routerLink="caixa">Caixa</li>
        </ul>
    </nav>
    <div class="formulario">
      <app-auth class="auth"></app-auth>
    </div>
  </div>
  </div>
</body>
