
<main class="container">
   <h1>Retirar Produtos</h1>
  <form *ngIf="produtosRepo.metadata.apiInsertAllowed" (submit)="addProdutos()" class ="form-inline" >

     <input id="meuCampo"
      placeholder="codigo de Barras"
      [(ngModel)]="codigoBarras"
      name="codigoBarras"
      autofocus
    />
<button class ="btn btn-primary btn-sm mr-2">Adicionar</button>

</form>



   <div class="table-container">
      <table class="table">
         <thead>
            <tr>
              <th>Código de Barras</th>
              <th>Nome do Produto</th>
              <th>Valor do Produto</th>
              <th>Quantidade do Produto</th>
              <th>Tipo do Produto</th>
            </tr>
            </thead>
   <tbody>   
   <tr *ngFor="let produtos of produtoss">
         
   <td><input [(ngModel)]="produtos.codigoBarras" [ngModelOptions]="{ standalone: true }" readonly /></td>
   <td><input [(ngModel)]="produtos.nomeProduto" [ngModelOptions]="{ standalone: true }" readonly /></td>
   <td><input [(ngModel)]="produtos.valorProduto" [ngModelOptions]="{ standalone: true }" readonly /></td>
   <td><input [(ngModel)]="produtos.quantidadeProduto" [ngModelOptions]="{ standalone: true }" readonly /></td>
   <td><input [(ngModel)]="produtos.tipoProduto" [ngModelOptions]="{ standalone: true }" readonly /></td>
   </tr>
</tbody>
      </table>
</div>
</main>
