<form (submit)="verificaAcesso()">
  <div>
    <h1>Verificar Acesso</h1>
    <main class="container">
      <div class="table-container" style="display: grid; justify-content: center; align-items: center;">
        <div class="card">
          <div class="card-body">
            <label>Cartão:</label>
            <input placeholder="Número do Cartão" [(ngModel)]="numero_cartao" name="numero_cartão" />

            <button class="btn btn-primary">
              OK
            </button>
          </div>
        </div>
      </div>
    <!-- Código do formulário existente -->

<!-- Modal -->
<div class="modal" *ngIf="exibirModal">
  <div class="modal-content" [ngClass]="{'modal-autorizado': total <= 0, 'modal-bloqueado': total > 0}">
    <div class="modal-header">
      <h2>{{ total == 0 ? 'Autorizado' : 'Bloqueado' }}</h2>
    </div>
    <div class="modal-body">
      <p *ngIf="total <= 0">Acesso permitido.</p>
      <p *ngIf="total > 0">Acesso bloqueado.</p>
      <p *ngIf="total > 0">Débito: {{ total.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' }) }}</p>
    </div>
    <div class="modal-footer">
      <button (click)="exibirModal = false">Fechar</button>
    </div>
  </div>
</div>

      
    </main>
  </div>
</form>
