<form (submit)="verificaAcesso()"><div>
  <h1>Verificar Acesso</h1>
  <main class="container">
    <div class="table-container" style="display: grid;">
      <label>Cartão:</label>
      <input placeholder="Numero do Cartão"
      [(ngModel)]="numero_cartao"
      name="numero_cartão"/>

      <button  class="btn btn-primary">
        OK
      </button>
    </div>
    <div *ngIf="!espera">
      <div *ngIf="total==0" style="background-color: blue;  height: 300;" >
          <h1>Autorizado</h1>
      </div>
      <div *ngIf ="total>0" style="background-color: red;">
          <h1>Bloqueado</h1>
          <div><strong>Debito: {{ total.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' }) }}</strong></div>

      </div>
    </div>
  </main>
</div>
</form>
