<main class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Adicionar Produtos</h1>
    </div>
  <form *ngIf="produtosRepo.metadata.apiInsertAllowed" (submit)="addProdutos()">
    <div class="form-group">
       <input
        type="text"
        class="form-control"
        id="codigoBarras"
        placeholder="Código de Barras"
        [(ngModel)]="codigoBarras"
        name="codigoBarras"
      />
    </div>
    <button class="btn btn-primary">Adicionar</button>
  </form>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Código de Barras</th>
          <th>Nome do Produto</th>
          <th>Valor do Produto</th>
          <th>Quantidade do Produto</th>
          <th>Tipo do Produto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtoss">
          <td>{{ produto.codigoBarras }}</td>
          <td>{{ produto.nomeProduto }}</td>
          <td>{{ produto.valorProduto }}</td>
          <td>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="produto.quantidadeProduto"
              [ngModelOptions]="{ standalone: true }"
            />
          </td>
          <td>{{ produto.tipoProduto }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>