
<main class="container">
  <form *ngIf="taskRepo.metadata.apiInsertAllowed" (submit)="addTask()">
    <input placeholder="Oque tem que ser feito?" [(ngModel)]="newTaskTitle" name="newTaskTitle" />
    <button>Add</button>
  </form>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Concluído</th>
          <th scope="col">Título</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>
            <cli-buttontype-ok>ok</cli-buttontype-ok>

            <input type="checkbox" [(ngModel)]="task.completed" (change)="saveTask(task)" />
          </td>
          <td>
            <input [(ngModel)]="task.title" />
          </td>
          <td>
            <button *ngIf="taskRepo.metadata.apiUpdateAllowed" (click)="saveTask(task)">Salvar</button>
            <button *ngIf="taskRepo.metadata.apiDeleteAllowed" (click)="deleteTask(task)">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button (click)="setAllCompleted(true)">Marcar tudo como Completo</button>
      <button (click)="setAllCompleted(false)">Marcar tudo como Incompleto</button>
    </div>
  </div>
</main>
