<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Choperia do Igão</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <style>
  

    #banner h1,
    #banner p {
      text-align: center;
    }


    .beer-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
    }
  </style>
</head>

<body class="container-fluid bg-transparent">
  <section id="banner">
    <div class="container">
      <div class="row">
          <h1>Bem-vindo(a) à Choperia do Igão</h1>
          <p class="lead">Uma experiência única para os amantes de cerveja!</p>
      </div>
    </div>
  </section>

  <section id="tipos-cerveja">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="http://127.0.0.1:8080/imagens/lager.webp" alt="Lager do Paraíso" class="beer-image">
          <h2>Lager</h2>
          <p>Uma cerveja suave e refrescante que te transportará para praias paradisíacas. Com notas leves de malte e um toque sutil de lúpulo, é perfeita para acompanhar momentos descontraídos entre amigos.</p>
        </div>
        <div class="col-md-6">
          <img src="http://127.0.0.1:8080/imagens/ale.webp" alt="Ale da Aventura" class="beer-image">
          <h2>Ale</h2>
          <p>Uma explosão de sabores! Essa cerveja encorpada e aromática é a escolha certa para os aventureiros do paladar. Com sua espuma cremosa e notas frutadas, cada gole é uma descoberta de novas sensações.</p>
        </div>
        <div class="col-md-6">
          <img src="http://127.0.0.1:8080/imagens/weiss.webp" alt="Weiss da Harmonia" class="beer-image">
          <h2>Weiss</h2>
          <p>A suavidade e a delicadeza se encontram nessa cerveja de tradição alemã. Com sua cor dourada e turva, seu sabor marcante de cravo e banana se equilibra perfeitamente, proporcionando uma experiência única.</p>
        </div>
        <div class="col-md-6">
          <img src="http://127.0.0.1:8080/imagens/stout.webp" alt="Stout da Sedução" class="beer-image">
          <h2>Stout</h2>
          <p>Uma cerveja para os apaixonados por sabores intensos! Com sua cor escura e textura aveludada, essa cerveja traz notas de café e chocolate que seduzem os paladares mais exigentes. Deixe-se envolver por seu encanto irresistível.</p>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
