
  body {
    height: 100vh;
    overflow: auto;
  }

h1 {
  font-size: 60px;
    text-align: center;
    font-family: "Algerian", sans-serif;
    color: rgb(102, 39, 14);
  
}

h2 {
  font-size: 35px;
    text-align: center;
    font-family: "Algerian", sans-serif;
    color: rgb(102, 39, 14);
  
}