<h1>Retirar Chop</h1>
<main>
  <form *ngIf="produtosRepo.metadata.apiInsertAllowed && mostrarCamposCartao" (submit)="addProdutos()"  >

     <input
      placeholder="Numero do cartão"
      [(ngModel)]="numero_cartao"
      name="numero_cartao"
    />
<button>Retirar</button>

</form>
<div *ngIf="mostrarListaProdutos" >
  <div *ngFor="let produtos of produtoss" class="lista" >


    <input [(ngModel)]="produtos.codigoBarras" [ngModelOptions]="{ standalone: true }" readonly />
    <input [(ngModel)]="produtos.nomeProduto" [ngModelOptions]="{ standalone: true }" readonly />
    <input [(ngModel)]="produtos.valorProduto" [ngModelOptions]="{ standalone: true }" readonly />
    <input [(ngModel)]="produtos.quantidadeProduto" [ngModelOptions]="{ standalone: true }" readonly />
    <input [(ngModel)]="produtos.tipoProduto" [ngModelOptions]="{ standalone: true }" readonly />
    <button *ngIf="userRepo.metadata.apiDeleteAllowed"  class="btn btn-secondary"  (click)="escolher(produtos)">Escolher</button>

  </div>
</div>
