

  <div class="modal-content" style="height:  26rem;"  >
    <span class="close" (click)="activeModal.dismiss()" style="margin-left: 95%; ">&times;</span>

    <h2 style="margin-left: 2rem;">Editar Usuário</h2>
    <div>
    <form  (submit)="saveUser(user)"  style="margin: 2rem;">

      <div >
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" class="form-control" id="nome" [(ngModel)]="user.name" name="nome" placeholder="Nome">
        </div>
      </div>
      <div >
        <div class="form-group">
          <label for="senha">Senha:</label>
          <input type="password" class="form-control" id="senha" [(ngModel)]="user.password" name="senha" placeholder="Senha">
        </div>
      </div>
      <div >
        <div class="form-group">
          <label for="role">Role:</label>
          <select class="form-control" id="role" [(ngModel)]="user.roles" name="role" required>
            <option value="">Selecione a Role</option>
            <option value="admin">Administrador</option>
            <option value="fisSelf">FisSelf</option>
          </select>
        </div>
      </div>
      <div  style="margin-left: 40%">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
      </form></div>
  </div>

