.modal-content {
  background-color: #f2f2f2; /* Cor de fundo desejada */
  padding: 1rem;
  background-size: cover; /* Ajuste o dimensionamento da imagem */
  background-position: center; /* Ajuste a posição da imagem */
  border: 1rem;
}
